.container {
    display: flex;
    padding: 10%;
}

.title {
    padding: 1%;
    font-size: 150%;
}

/* .bio {
    padding: 1%;
    font-size: %;
} */

.name {
    padding: 1%;
    font-size: 250%;
}

.profile {
    border: 15px solid rgb(255, 255, 255);
    box-shadow: 0px 0px 25px rgb(188, 188, 188);
    border-radius: 50%;
    transition: box-shadow 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out;
    position: relative; 
}

.profile:hover {
    transform: scale(1.03);
    box-shadow: 0px 0px 30px rgb(181, 181, 181);
}


.container_text {
    padding: 3%;
    padding-left: 6%;
    margin: 3%;
    background-color: rgb(255, 255, 255);
    /* border: 1px solid black; */
}