.resume_body {
    display: flex;
    justify-content: space-between;
    padding: 3%;
}

.resume_block {
    padding: 3%;
    max-width: 25%;
}

.work_body {
    display: flex;
    border-bottom: 1px solid rgb(0, 0, 0);
}

.resume_sub_header {
    font-size: 150%;
    font-weight: bold;
    padding-bottom: 6%;
    padding-top: 3%;
    border-bottom: 1px solid rgb(193, 193, 193);
}

.resume_header {
    font-size: 150%;
    font-weight: 0;
}

.resume_text_body {
    padding: 3%;
    border: 1px  rgb(177, 175, 175);
}

.resume_link {
    display: flex;
    justify-content: center;
    padding: 1%;
    margin-top: 10%;
    margin-left: 20%;
    font-weight: bold;
    row-gap: 10px;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 1px 2px 10px rgb(188, 188, 188);
    transition: box-shadow 0.3s ease-in-out;
    border-radius: 5px;
    width: 190px;
    transition: transform .2s;
    text-decoration: none;
}

.resume_link:hover {
    transform: scale(1.2)
}

.edu_block {
    padding: 1.5%;
    margin-left: 5%;
    height: fit-content;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 4px;
}

.edu_title {
    font-size: 150%;
    font-weight: bold;
    padding: 3%;
}